@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overpass+Mono:wght@300;400;600;700&display=swap');

:root {
  --width: 1000px;
}

body {
  margin: auto;
  font-family: 'Lato',sans-serif;
}

.header {
  background-color: #1b1464;
  color: #fff;
}

.header-wrapper { 
  width: var(--width);
  margin: auto;
  padding: 25px 0;
}

.header-title {
  margin: 0;
  font-family: 'Overpass Mono';
  font-weight: 700;
}

.body {
  width: var(--width);
  margin: 40px auto;
}

.intro {
  display: flex;
  margin: 50px 0;
}

.intro-image {
  height: 200px;
}

.intro-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-heading {
  margin: 0;
}

.meetings-text {
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  border-radius: 0.5rem;
  padding: 15px 25px;
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 175px;
  margin: 20px 0;
}

.meetings-nextmeeting-text {
  margin: 5px;
}

.meetings-nextmeeting-relativetime {
  font-size: 30px;
  margin: 10px;
}

.meetings-nextmeeting-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.meetings-nextmeeting-buttons > a {
  margin: 0;
}

.meetings-info-text {
  margin: 5px;
  display: block !important;
}

.meetings-info-text-label {
  font-weight: 600;
}

.meetings-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
  margin: 25px 0;
}

.meetings-calendar {
  display: flex;
  gap: 20px;
}

.meetings-calendar-wrapper {
}

.meetings-calendar-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.meetings-info {
  width: 200px;
  position: relative;
  bottom: 0;
  top: auto;
}

.calendar__day-bullet {
  background-color: #1b1464 !important;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #1b1464;
  color: #fff;
  text-decoration: none;
  font-size: 12.5px;
  width: 120px;
  height: 35px;
  margin: 10px auto;
  border-radius: 0.5rem;
}

.meetings-addcalendar-main {
  color: #000;
  margin: 0;
}

.meetings-addcalendar-sublink {
  color: #000;
  margin: 0;
  font-size: 10px;
}

.footer {
  background-color: #1b1464;
  color: #fff;
}

.footer-wrapper { 
  width: var(--width);
  margin: auto;
  padding: 25px 0;
}

.footer-text {
  display: block;
  margin: 5px 0;
}

.footer-link {
  display: block;
  margin: 5px 0;
  color: #fff
}

@media (min-width: 300px) and (max-width: 1024px) {
  :root {
    --width: calc(100% - 50px) !important;
  }

  .intro {
    flex-direction: column-reverse;
    width: var(--width);
    margin: 25px;
    gap: 25px;
  }

  .button {
    width: 150px;
    gap: 10px;
  }

  .meetings-wrapper {
    flex-direction: column;
    width: calc(var(--width) + 50px);
  }

  .meetings-text {
    width: var(--width);
    margin: 25px;
  }

  .meetings-calendar {
    flex-direction: column;
  }

  .meetings-info {
    width: 300px;
  }
}